@media screen and (max-width:1170px){
    #header{
        padding: 1.25rem 3rem;
    }

    .wrapper .caption {
        width: 80%;
    }
}

@media screen and (max-width:899px) {
    .topbar{
       display: none;
    }

    #header{
        top: 0;
    }

    #header .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
         width: 0;
        top: 0;
        right: 0;
        overflow-x: hidden;
        background-color: rgb(255, 255, 255);
        padding: 5rem 0 0.62rem;
        transition: 0.5s;
    }
    .navbar li{
        margin-bottom: 1.56rem;
    }

    .navbar .closebtn {
        position: absolute;
        top: 0;
        right: 30px;
        font-size: 36px;
        margin-left: 50px;
        color: #1a1a1a;
    }
      
    li .icons-nav{
        display: block;
    }

    .icons-nav a{
        display: none;
    }

    .closebtn{
        display: block;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile #bar{
        color: #1a1a1a;
        font-size: 1.26rem;
        padding-left: 1.25rem;
    }

    .wrapper{
        min-height: 70vh;
    }

    .features{
        justify-content: center;
    }

    .features .fe-box{
       gap: 1.5rem;
    }

    .categories{
        justify-content: center;
    }
    
    .Highlight .caption{
        width: 80%;
    }
    .product1 .pro-container{
        justify-content: center;
        gap: 1.5rem;
    }

    .grid{
        display: grid;
        height:unset ;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }

    .grid > :nth-child(1),
    .grid > :nth-child(2),
    .grid > :nth-child(3),
    .grid > :nth-child(4),
    .grid > :nth-child(5),
   .grid > :nth-child(6){
    grid-row: unset !important;
    grid-column: unset !important;
   }

    .grid .child-box{
      min-height: 300px;
    }

}