@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&family=Lato:wght@100;400&family=Merriweather:wght@300;400&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Alegreya', serif; ;
}

html{
    font-size: 16px;
}

body{
    width: 100%;
}

h1{
    font-size: 2.2rem;
    color: #000;
}

h2{
    font-size: 1.8rem;
}

h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.4rem;
}

h5{
    font-size: 1.25rem;
}

h6{
    font-size: 1.1rem;
}

p{
    font-size: 1rem;
}

a{
    text-decoration: none;
}

.section{
    padding: 2.5rem 5rem;
}

/* -----header-----*/


.topbar{
    min-height: 1.25rem;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color:rgba(246,184,199,255);
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    word-spacing: 2px;
}

#header{
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 7rem;
    max-height: 4rem;
    background-color: rgb(255, 255, 255);
    border-bottom: #0000002c solid 1px;
    position: sticky;
}

.logo{

    width: 4rem;
    cursor: pointer;
 }

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.navbar li{
    list-style: none;
    padding: 0 1.25rem;
    position: relative;
   
}

.navbar li a{
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active{
    transition: 0.3s ease;
    color: rgb(97, 97, 97);
}

.navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px ;
    position: absolute;
    bottom: -4px;
    left: 20px;
    background-color: rgba(246,184,199,255);
}

.icons-nav a{
    padding: 1.25rem;
    color: black;
}

.closebtn{
    display: none;
}

#mobile{
    display: none;
    align-items: center;
}

li .icons-nav{
    display: none;
}
/* -----wrapper-----*/


.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.wrapper .left{
    background-color: rgb(255, 245, 245);
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.wrapper .right{
    position: relative;
    width: 65%;
    background-image: url('images/female-models-smile-gladfully-tilt-heads-apply-beauty-patches-eyes-enjoys-skin-care-procedures-dressed-white-soft-bathrobes-isolated-pink.jpg');
    background-position: center;
    background-size: cover;
}

.wrapper .caption {
    position: relative;
    z-index: 10;
    text-align: left;
    left: 10%;
}

.wrapper .caption h4{
    padding-bottom: 1rem;
}

.wrapper .caption h1 {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: rgb(95, 95, 95);
}

.wrapper .caption p{
    padding-bottom: 2rem;
    color:rgb(255, 193, 100);
}

.wrapper .caption .button {
    background: #000;
     border-radius: 2%;
    color: #fff;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: 0.3s ease;
}

.wrapper .caption .button:hover {
    background: rgba(246,184,199,255);
    color: #000;
}

/* -----features section-----*/



.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features .fe-box{
    font-family: 'Merriweather', serif;
    width: 14rem;
    min-height: 12rem;
    text-align: center;
    padding: 1.6rem 2rem;
}

.features .fe-box img{
    width: 40%;
    margin-bottom: 10px;
}

.features .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    color: #000;
    font-weight: 600;
}

.features .fe-box p{
    font-weight: 400;
}

/* -----categories section-----*/


.categories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ca-box{
    overflow: hidden;
}

.categories .ca-box .image-box {
    width: 25rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
}

.categories .ca-box .image-box:hover{
    transform: scale(1.05);
}

.categories .ca-box .image-box .circle{
    width: 7rem;
    height: 7rem;
    background-color: #000;
    margin: 10% auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories .ca-box  .image-box .circle a{
    width: inherit;
    color: #fff;
    font-size: 1.2rem;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.categories .ca-box  .image-box .circle:hover{
    background-color: rgba(246,184,199,255);
    color: #000;
}

.categories .hair{
    background-image: url('images/hair-cosmetics.jpg');
}

.categories .skin{
    background-image: url('images/skin-cosmetics.jpg');
}

.categories .lipstick{
    background-image: url('images/lipstick-cosmetics.jpg'); 
}

.skin,
.hair,
.lipstick{
    background-position: center;
    background-size: cover;
}

/* -----Highlight section-----*/


.Highlight{
    min-height: 40rem;
    background-image:linear-gradient(rgba(0, 0, 0, 0.281),rgba(0, 0, 0, 0.527)),url('images/Highlighted-cosmetic.jpg');
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    margin: 2.5rem 0;
}

.Highlight .caption h2{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.Highlight .caption p{
    padding: 1rem 0 2rem 0 ;
    color:rgb(255, 255, 255);
    letter-spacing: 0.1rem;
}

.Highlight .caption .button {
    background: #000;
     border-radius: 2%;
    color: #fff;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: 0.3s ease;
}

.Highlight .caption .button:hover {
    background: rgba(246,184,199,255);
    color: #000;
}

/* -----features products-----*/


.product1{
    text-align: center;
}

.product1 .pro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1.25rem;
}

.product1 .pro{
    width: 23%;
    min-width: 15.5rem;
    padding: 0.65rem 0.75rem;
    border: 1px solid #cce7d0;
    border-radius: 1.3rem;
    cursor: pointer;
    margin: 0.9rem 0;
    transition: 0.2s ease;
    position: relative;
}

.product1 .pro:hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.06);
}

.product1 .pro img{
    width: 100%;
    border-radius: 1.25rem;
}

.product1 .pro .des{
    text-align: start;
    padding: 0.65rem 0;
}

.product1 .pro .des span{
    color: #606063;
    font-size: 0.85rem;
}

.product1 .pro .des h5{
    padding-top: 0.4rem;
    color: #1a1a1a;
    font-size: 1rem;
}

 .fa-star{
     font-size: 12px;
     color: #f3f728;
     transition: 0.3s ease;

}
.fa-star:hover{
    color: #e2e629;
}

.product1 .pro .des h4{
    padding-top: 0.45rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: red;
}

.product1 .pro .cart{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 3.1rem;
    background-color: #e8f6ea;
    font-weight: 400;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 30px;
    transition: 0.3s ease;
}

.product1 .pro .cart:hover{
    color: #0fa89e;
    background-color: #d2f0d7;
    
}


/* -----grid section-----*/

.grid{
    display: grid;
    align-self:start;
    position: relative;
    height: 99vh;
    gap: 1rem; 
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: repeat(6,1fr);

}

.grid > :nth-child(1),
.grid > :nth-child(4){
    grid-column: span 2;
}

.grid > :nth-child(1){
    grid-row: span 3;
}

.grid > :nth-child(4){
    grid-row: span 4;
}



.grid > :nth-child(2),
.grid > :nth-child(3){
    grid-row: span 2;
}

.grid > :nth-child(5),
.grid > :nth-child(6){
    grid-row: span 3;
}

.grid .child-box{
    border-radius: 5px;
    width: 100%;
}

.bk{
    background-image: url('images/pexels-anna-shvets-3852142.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.bk1{
    background-image: url('images/pexels-shiny-diamond-3762408.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.child-box .g-content img{
    width: 15rem;
    position: relative;
}

.child-box .g-content .Round{
    border-radius: 50%;
}

.child-box .g-content .button {
    background: #000;
     border-radius: 2%;
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: 0.3s ease;
}

.child-box .g-content .button:hover {
    background: rgba(246,184,199,255);
    color: #000;
}

.blue{
    background-color: #e9f2fa;
}

.green{
    background-color: #f5f7fa;
}

.bink{
    background-color: #fbeced;
}

.yellow{
    background-color: #fef9e6;
}

.gray{
    background-color: rgb(230, 230, 230);
}



/* -----Newsletters section-----*/



.Newsletters{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(255, 245, 245);
}

.Newsletters h4{
    font-size: 1.37rem;
    font-weight: 700;
    color: #000;
}

.Newsletters p{
    font-size:0.87rem ;
    font-weight: 600;
    color:rgb(97, 97, 97);
}

.Newsletters p span{
    color: rgb(255, 193, 100);
}

.Newsletters .form{
    display: flex;
    width: 40%;
}
.Newsletters input{
    min-height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 0.87rem;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.Newsletters button{
    background-color: rgba(246,184,199,255);
    color: #fff;
    white-space: nowrap;
    padding: 0.93rem 1.87rem;
   font-weight: 600;
   font-size: 0.87rem;
   border-radius: 4px;
   border: none;
   outline: none;
   transition: 0.3s ease;
   cursor: pointer;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}


/* -----fotter-----*/


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.25rem;
}

footer .logo{
    margin-bottom: 1.87rem;
}

footer h4{
    font-size: 0.9rem;
    padding-bottom: 1.25rem;
}

footer p{
    font-size: 0.81rem;
    margin: 0 0 0.5rem 0;
}

footer a{
    font-size: 0.81rem;
    text-decoration: none;
    color: #222;
    margin-bottom: 00.61rem;
}

footer .follow{
    margin-top: 1.25rem;
}

footer .follow .svg-inline--fa{
    font-size: 1.5rem;
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
} 

footer .follow .svg-inline--fa:hover,
footer a:hover{
    color: rgba(246,184,199,255);
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install  img{
    margin: 0.61rem 0 0.93rem 0;
}

footer .copyright{
    text-align: center;
    width: 100%;
 }

 footer .copyright .author a{
 font-size: 14px;
  font-weight:800;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 4px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  }